body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.face-img {
    width: 150px;
}

.card {
    margin: 0px auto;
    width: 400px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 6px solid #d8cefe;

    
}
.line-border {
    border: 1px dotted blue;
}
